# The secure.py file stores environment specific settings and secrets.  It is
# generated during deployment to AWS based on settings stored in s3.  Using the
# below secure settings in combination with project defaults should be
# sufficient to get you started.  Make sure you copy this file over as is to
# secure.py before running `vagrant up`.

SECURE_SETTINGS = {
    'enable_debug': True,
    'django_secret_key': '1@7&11tb*l1c84uco-9=%(u#mb)_dl6%%++rihgnl&r)wmldrc',
    'redis_host': '127.0.0.1',
    'db_default_host': '127.0.0.1',
    'db_default_name': 'academic_integrity_tool_v2',
    'db_default_user': 'academic_integrity_tool_v2',
    'db_default_password': 'academic_integrity_tool_v2',
    'CONSUMER_KEY': 'academic_integrity_tool_v2',
    'LTI_SECRET': 'secret',
    'X_FRAME_OPTIONS': 'ALLOW-FROM https://canvas.dev.tlt.harvard.edu/',
    'help_email_address': 'atg@fas.harvard.edu'
}
