{% extends 'base.html' %}

{% comment %}
    Displays the updated policy template to the administrator.
    Also displayed are a button that takes them back to the tinymce editor and a link that takes them back to the list of policy templates.
{% endcomment %}

{% block content %}
    <div class="row">

        <div class="col-xs-12" style="padding-right: 20px; padding-left: 40px">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Academic Integrity Policy Template</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <br />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-success" role="alert">
                        <strong>Your academic integrity policy template has been updated successfully.</strong><br />
                        You can click the ‘Edit’ button to refine it some more or the ‘List of up-to-date policy templates’ link
                            to view your up-to-date list of policy templates.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3><span class="custom-label">{{ updated_template.name }}</span></h3>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            {{ updated_template.body|safe }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <br />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <a href="{% url 'policy_templates_list' %}">
                                List of up-to-date policy templates
                            </a>
                        </div>
                        <div class="col-4">
                            <a class="btn btn-primary pull-right" href="{% url 'admin_edit_updated_template' updated_template.pk %}" role="button" id="custom-btn">
                                <i class="fa fa-pencil-alt fa-flip-horizontal"></i>
                                Edit
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}
