{% extends 'policy_template_list_base.html' %}


{% comment %}
    Presents policy templates to an administrator
{% endcomment %}


{% block instructions %}
    <h4>Instructions for Administrators</h4>
    <div class="highlighted">
        <ul>
            <li>As an administrator, you can edit to update these templates.</li>
        </ul>
    </div>
{% endblock instructions %}


{% block urlToEditorWithWrittenWorkTemplateParameter %}
    {% url 'admin_level_template_edit' written_work_policy_template.pk %}
{% endblock urlToEditorWithWrittenWorkTemplateParameter %}


{% block writtenWorkTemplateButtonText %}
    Update
{% endblock writtenWorkTemplateButtonText %}


{% block urlToEditorWithProblemSetsTemplateParameter %}
    {% url 'admin_level_template_edit' problem_sets_policy_template.pk %}
{% endblock urlToEditorWithProblemSetsTemplateParameter %}


{% block problemSetsTemplateButtonText %}
    Update
{% endblock problemSetsTemplateButtonText %}


{% block urlToEditorWithCollaborationProhibitedTemplateParameter %}
    {% url 'admin_level_template_edit' collaboration_prohibited_policy_template.pk %}
{% endblock urlToEditorWithCollaborationProhibitedTemplateParameter %}


{% block collaborationProhibitedTemplateButtonText %}
    Update
{% endblock collaborationProhibitedTemplateButtonText %}