{% extends 'tinymce_editor_base.html' %}

{% comment %}
    Presents the text editor to an administrator so they can re-edit a template they
    just updated
{% endcomment %}

{% block editorContent %}

        <div class="row">
            <div class="col-sm-12" style="padding-right: 20px; padding-left: 40px">

                <div class="row">
                    <div class="col-xs-12 page-header">
                        <h1>Academic Integrity Policy Wizard</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert custom-alert-info">
                            <p><strong>Edit to update this template</strong></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h3><span class="custom-label">{{ template_to_update.name }}</span></h3>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-xs-12">
                        <form action="" method="post">{% csrf_token %}
                            {{ form.as_p }}
                            <a href="{% url 'admin_updated_template' template_to_update.pk %}" class="btn btn-default btn-lg" role="button" id="custom-btn-default">Cancel</a>
                            <input class="btn-primary pull-right btn-lg" type="submit" value="Update" id="custom-btn" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock editorContent %}
