{% extends 'tinymce_editor_base.html' %}

{% comment %}
    Presents the text editor to an administrator so they can re-edit a template they
    just updated
{% endcomment %}

{% block editorContent %}

    <body>

        <div class="row">
            <div class="col-sm-12" style="padding-right: 20px; padding-left: 40px">

                <div class="row">
                    <div class="col-xs-12 page-header">
                        <h1>Academic Integrity Policy Wizard</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <p><strong>Edit to update this template</strong></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h3><span class="label label-primary">{{ templateToUpdate.name }}</span></h3>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-xs-12">
                        <form action="" method="post">{% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn-default btn-lg"><a href="{% url 'admin_updated_template' templateToUpdate.pk %}">Cancel</a></button>
                            <input class="btn-primary pull-right btn-lg" type="submit" value="Update" />
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </body>

{% endblock editorContent %}
