<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Academic Integrity Policy Wizard</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_content.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .smaller-h2 {
          font-size: 18px;
      }
      li {
          padding-bottom: 1em;
      }
      .page-header {
        padding-bottom: 9px;
        margin: 40px 0 20px;
        border-bottom: 1px solid #eee;
      }
    </style>
    {% block extra_head %}
    {% endblock extra_head %}

  </head>
  <body>

    <div class="container">
      <main>
          {% block content %}
          {% endblock content %}
      </main>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" ></script>
    {% block extra_script %}
    {% endblock extra_script %}
  </body>
</html>
