{% extends 'policy_template_list_base.html' %}


{% comment %}
    Presents policy templates to an instructor
{% endcomment %}


{% block instructions %}
    <h2 class="smaller-h2">Instructions for Faculty</h2>
    <br />
    <ul>
        <li>As stated in <a href="http://infoforfaculty.fas.harvard.edu/" target="_blank"  class="alert-link">Information for Faculty</a>: “It is essential that instructors set out carefully in writing
            and at the outset of a course or course assignment the extent of permissible student collaboration
            in the preparation of papers, computer programs, or examinations. Students must assume that collaboration
            in the completion of assignments is permitted unless explicitly prohibited by the instructor. Students
            should be reminded that they are expected to acknowledge any collaboration and its extent in all
            submitted work.”</li>
        <li>Reviewing the the <a href="http://honor.fas.harvard.edu/" target="_blank" class="alert-link">Honor Code website</a> may be of assistance as you determine your policy,
            particularly the sections on the <a href="http://honor.fas.harvard.edu/affirmation" target="_blank" class="alert-link">Affirmation</a> and <a href="http://honor.fas.harvard.edu/teaching-integrity" target="_blank" class="alert-link">Teaching With Integrity</a>.</li>
        <li><strong>To prepare an academic integrity policy for this class, choose 1 of the templates provided below and edit as appropriate. Also provided is an option to
            write your own policy from scratch.</strong></li>
    </ul>
{% endblock instructions %}

{% block customizePolicyBlock %}
<div class="card mb-3">
    <div class="custom-card-header">
        <h3><span class="custom-label">Blank Template</span></h3>
        <div style="margin-top: 1.5em;">
            <p>
                <em>If you choose to write your own policy on collaboration, keep the following guidelines in mind.</em>
            </p>
            <ol>
                <li>
                    You should outline explicitly what students may or may not discuss with their classmates outside the classroom and how best to capture those discussions on formal work submitted for course credit.
                </li>
                <li>
                    You may want to include citation resources for students including the <a href="http://usingsources.fas.harvard.edu/" target="_blank">Harvard Guide to Using Sources</a>.
                </li>
                <li>
                    You may want to include information about conforming to the College’s policies on academic integrity found in the <a href="http://handbook.fas.harvard.edu/" target="_blank">Harvard College Handbook for Students</a>.
                </li>
            </ol>
        </div>     
        <div class="row">
            <div class="col-xs-12">
                <a href="{% url 'instructor_level_policy_edit' custom_policy_template.pk %}">
                    <div style="position: relative">
                        <span class="icon-input-btn">
                            <button value="Create A Custom Policy" class="btn btn-primary btn-md pull-right custom-btn" type="submit" name="commit" >
                                <i class="fa fa-file-o" style="font-size: 1.3em; color: white;"></i>
                                Write From Scratch
                            </button>
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock customizePolicyBlock %}
