{% extends 'base.html' %}

{% comment %}
    Displays the published policy to the instructor.
    Also displayed are 2 buttons: 1 to enable them prepare a new policy from the list of policy templates
    and another to edit the policy they just published.
{% endcomment %}

{% block content %}
    <div class="row">
        <div class="col-sm-12" style="padding-right: 20px; padding-left: 30px">

            <div class="row">
                <div class="col-xs-12">
                    <h1>AI Policy</h1>
                </div>

            </div>

            <br />
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-success" role="alert">
                        <strong>Your AI policy has been published successfully.</strong>
                        <br>You can click the ‘Edit’ button to refine it or
                          the ‘Delete and prepare new policy from templates’ button to delete this policy and start afresh.
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    {{ active_policy.body|safe }}
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <div>
                        <a class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#myModal" style="background-color: white; color: #333; border-color: #ccc;">
                            <i class="fa fa-times-circle fa-flip-horizontal"></i>
                                Delete and prepare new policy from templates
                        </a>

                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document" style="max-width: 45em;">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h2 class="modal-title" id="myModalLabel">Warning</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style=" margin: 0 0 .5em 0;
                                font-size: .6em;"></button>
                              </div>
                              <div class="modal-body">
                                  <strong>Are you sure you want to delete your current published policy and customize a new one from the available templates?</strong>
                                  <br />
                                  <br />
                                  If you simply want to edit the current policy,
                                  click ‘Cancel’ and then access the text editor via the ‘Edit’ button.
                              </div>
                              <div class="modal-footer" style="display: block;">
                                  <button type="button" class="btn custom-btn-default pull-left" data-bs-dismiss="modal" >Cancel</button>
                                  <a type="button" class="btn btn-primary custom-btn pull-right" href="{% url 'instructor_inactivate_policies' %}" >Yes, <strong>DELETE</strong> and start afresh</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <a class="btn btn-primary custom-btn pull-right" href="{% url 'edit_active_policy' active_policy.pk %}" role="button" >
                        <i class="fa fa-pencil-alt fa-flip-horizontal"></i>
                        Edit
                    </a>
                </div>


            </div>
        </div>
    </div>

{% endblock content %}