{% extends 'tinymce_editor_base.html' %}

{% comment %}
    Presents text editor to an instructor
{% endcomment %}

{% block editorContent %}

    <body>

        <div class="col-sm-9">

            <h1>Academic Integrity Policy Wizard</h1>

            {% comment %}
                Needs more work ...
                <h3>Template: <span class="label label-primary">{{ policyTemplate.name }}</span></h3>
            {% endcomment %}

            <h4 style="margin-top: 2em">Customize your policy on collaboration for this class</h4>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn-default btn-lg"><a href="{% url 'policy_templates_list' %}">Cancel</a></button>
                <input class="btn-primary pull-right btn-lg" type="submit" value="Publish" />
            </form>

        </div>

        <div class="col-sm-3"></div>

    </body>

{% endblock editorContent %}

