{% load static %}

{% block content %}
    <head>

        <style>
            textarea {
                width: 100%;
                margin: 0;
                border: 0px solid #fff;
                position: relative;
                padding: 1em;
                height: 20em;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }
        </style>

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="{% static "tinymce/tinymce.min.js"%}"></script>
        <script type="text/javascript">
            tinymce.init({
                selector: 'textarea',
                branding: false,
                theme: 'modern',
                plugins: 'textcolor lists table media link image directionality',
                menubar: false,
                toolbar1: 'bold italic underline forecolor backcolor removeformat alignleft aligncenter alignright outdent indent superscript subscript bullist numlist',
                toolbar2: 'table media link unlink image ltr rtl fontsizeselect formatselect'
            });
        </script>
    </head>

    <body>

        <div class="col-sm-9">

            <h1>Academic Integrity Policy Wizard</h1>

            {% comment %}
                Needs more work ...
                <h3>Template: <span class="label label-primary">{{ policyTemplate.name }}</span></h3>
            {% endcomment %}

            <h5 style="margin-top: 2em">Customize your policy on collaboration for this class</h5>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn-default btn-lg"><a href="{% url 'policy_templates_list' %}">Cancel</a></button>
                <input class="btn-primary pull-right btn-lg" type="submit" value="Publish" />
            </form>

        </div>

        <div class="col-sm-3"></div>
    </body>

{% endblock %}