{% extends 'base.html' %}

{% block content %}
  <div class="row">
      <div class="col-xs-12" style="padding-right: 20px; padding-left: 30px">
          <div class="row">
              <div class="col-xs-12 page-header">
                  <h1>AI Policy Wizard</h1>
              </div>
          </div>
      </div>
  </div>

  <br>
  <div class="row">
      <div class="col-xs-12 col-md-6">
          <div class="alert custom-alert-info" role="alert">
              <p><strong>Something is wrong.</strong></p>
              <p>Your session may have timed out. Try refreshing your browser.</p>
              <p>If that fails there may be an issue with the Consumer Key or Shared Secret
                used to install this app.</p>
              <p>Contact atg@fas.harvard.edu if issues persist.</p>
          </div>
      </div>
  </div>

{% endblock content %}
