{% extends 'base.html' %}

{% comment %}
    Given that the administrator's and instructor's displays of policy templates are similar,
    this template abstracts out code common in the corresponding django templates.
{% endcomment %}

{% block content %}
    <div class="row">

        <div class="col-xs-12" style="padding-right: 20px; padding-left: 30px">
            <div class="row">
                <div class="col-xs-12 page-header">
                    <h1>Academic Integrity Policy Wizard</h1>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-xs-12">
                    <div class="alert custom-alert-info" role="alert">
                        {% block instructions %}
                        {% endblock instructions %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="card">

                        <div class="card-header" style="color: #fff; background-color: #337ab7; border-color: #337ab7;">
                            <h2 class="smaller-h2" style="margin-top: 20px;">Templates</h2>
                        </div>
                        <div class="card-body" style="border: 1px solid #337ab7;">

                            <div class="card mb-3">
                                <div class="custom-card-header">
                                    <h3 class="mt-4 mb-2"><span class="custom-label">{{ maximally_restrictive_policy_template.name|safe }}</span></h3>
                                    <p style="margin-top: 1.4em;">{{ maximally_restrictive_policy_template.body|safe }}</p>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <a href="{% url list_level maximally_restrictive_policy_template.pk %}">
                                                <div style="position: relative">
                                                    <span class="icon-input-btn">
                                                        <button value="Choose {{ maximally_restrictive_policy_template.name|safe }} Template" class="btn btn-primary btn-md pull-right custom-btn" type="submit" name="commit">
                                                            <i class="fa fa-file-word-o" style="font-size: 1.3em; color: white;"></i>
                                                            {{ button_text }} Template
                                                        </button>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="card mb-3">
                                <div class="custom-card-header">
                                    <h3 class="mt-4 mb-2"><span class="custom-label">{{ mixed_policy_template.name|safe }}</span></h3>
                                    <p style="margin-top: 1.4em;">{{ mixed_policy_template.body|safe }}</p>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <a href="{% url list_level mixed_policy_template.pk %}">
                                                <div style="position: relative">
                                                    <span class="icon-input-btn">
                                                        <button value="Choose {{ mixed_policy_template.body|safe }} Template" class="btn btn-primary btn-md pull-right custom-btn" type="submit" name="commit" >
                                                            <i class="fa fa-file-powerpoint-o" style="font-size: 1.3em; color: white;"></i>
                                                            {{ button_text }} Template
                                                        </button>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="custom-card-header">
                                    <h3 class="mt-4 mb-2"><span class="custom-label">{{ fully_encouraging_policy_template.name|safe }}</span></h3>
                                    <p style="margin-top: 1.4em;">{{ fully_encouraging_policy_template.body|safe }}</p>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <a href="{% url list_level fully_encouraging_policy_template.pk %}">
                                                <div style="position: relative">
                                                    <span class="icon-input-btn">
                                                        <button value="Choose {{ fully_encouraging_policy_template.name|safe }} Template" class="btn btn-primary btn-md pull-right custom-btn" type="submit" name="commit">
                                                            <span class="fa-layers fa-fw">
                                                                <i class="fa fa-file-o" style="font-size: 1.3em; color: white;"></i>
                                                                <i class="fa fa-times" style="position: absolute; font-size: .75em; color: white; margin-left: -1.6em; margin-top: .68em;"></i>
                                                            </span>
                                                            {{ button_text }} Template
                                                        </button>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% block customizePolicyBlock %}
                            {% endblock customizePolicyBlock %}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}
