{% extends 'base.html' %}

{% comment %}
    Displays policy not found message to student
{% endcomment %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">

            <div class="row">
                <div class="col-xs-12 page-header">
                    <h1>AI Policy</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p>This course does not have a published AI policy.</p>
                </div>
              </div>

        </div>
    </div>
{% endblock content %}
