{% extends 'base.html' %}

{% comment %}
    Displays a course policy to a student of the course
{% endcomment %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">

            <div class="row">
                <div class="col-xs-12 page-header">
                    <h1>AI Policy</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p>{{ active_policy.body|safe }}</p>
                </div>
              </div>

        </div>
    </div>
{% endblock content %}
