{% comment %}
    Displays a course policy to a student of the course
{% endcomment %}

{% block content %}
    <head>
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- Bootstrap jquery and js links -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

    <body>
      <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="row">
                    <div class="col-xs-12 page-header">
                        <h1>Academic Integrity Policy</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-justify">
                        <p>{{ publishedPolicy.body|safe }}</p>
                    </div>
                 </div>

            </div>
        </div>
      </div>
    </body>

{% endblock content %}
